@{
    ViewData["Title"] = "Welcome";
}
<br />
<br />
<br />
<br />
<div class="text-center">
    <h1 class="display-1"></h1>
    <h1 class="display-1"></h1>
    <h1 class="display-1">Welcome</h1>
    <h4 class="display-7"> to ProgressPacer</h4>
    <h1 class ="display-1"></h1>
    <p></p>
    <p>Keeping the pace with your academic progress.</p>
</div>
